*/__pycache__/*
*.pyc
*.png
conf/settings.py
logs/botlog*
logs/servers*
databases/*.db
databases/*.json
*\~
.DS_Store
*.mp3
resources/macro/magic.json
resources/macro/pastas.json
resources/query/sorted_unique_cf.txt
